@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
}

html.unscroll {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 70px auto auto;
  grid-template-areas: "aside header header" "aside main rightbar" "aside main rightbar";
  padding: 40px 40px 40px 20px;
  background-image: url("./../../images/container/container-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (max-width: 1320px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.wrapper.dark-theme {
  background: black;
}
.wrapper__button {
  display: none;
  position: absolute;
  top: -6.875rem;
  right: 1.25rem;
  z-index: 3;
  background-color: #3162FF;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.wrapper__button:hover {
  background-color: rgb(25, 25, 179);
}
@media (max-width: 1320px) {
  .wrapper__button {
    display: block;
  }
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
}

.rightbar {
  grid-area: rightbar;
}

.container {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}

.aside {
  background-color: #FFFFFF;
  padding: 1.8125rem;
  border-radius: 1.25rem;
  width: 5.25rem;
  box-shadow: 5px 6px 19px 0 rgba(62, 72, 118, 0.0392156863);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1320px) {
  .aside {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;
    background-color: #FFFFFF;
    z-index: 2;
    flex-direction: row;
    column-gap: 1.25rem;
    border-radius: 0;
    padding-top: 5rem;
    transition: 0.3s ease;
  }
}
@media (max-width: 1320px) and (max-width: 800px) {
  .aside {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
}
@media (max-width: 1320px) {
  .aside.show {
    top: 0;
  }
}
.aside__logo {
  margin-bottom: 120px;
}
@media (max-width: 1320px) {
  .aside__logo {
    width: 3.125rem;
    height: 3.125rem;
  }
}
@media (max-width: 800px) {
  .aside__logo {
    margin-bottom: 3.125rem;
    width: 60px;
    height: 60px;
  }
}
.aside__nav {
  margin-bottom: 25.5rem;
}
@media (max-width: 800px) {
  .aside__nav {
    margin-bottom: 1.875rem;
  }
}
.aside__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;
}
@media (max-width: 1320px) {
  .aside__list {
    flex-direction: row;
    column-gap: 1.25rem;
  }
}
@media (max-width: 800px) {
  .aside__list {
    flex-direction: column;
    overflow-y: hidden;
  }
}
.aside__link {
  display: block;
  width: 24px;
  height: 24px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: #070721;
  position: relative;
}
.aside__link:hover {
  background-color: #3162FF;
}
@media (max-width: 1320px) {
  .aside__link {
    width: 3.125rem;
    height: 3.125rem;
  }
}
@media (max-width: 800px) {
  .aside__link {
    width: 40px;
    height: 40px;
  }
}
.aside__link-home {
  background-color: #3162FF;
}
@media (max-width: 800px) {
  .aside__link-home {
    width: 50px;
    height: 50px;
  }
}
.aside__link-gray {
  background-color: #B5B5BD;
}
@media (max-width: 1320px) {
  .aside__settings {
    width: 3.125rem;
    height: 3.125rem;
  }
}
@media (max-width: 800px) {
  .aside__settings {
    width: 3.75rem;
    height: 3.75rem;
    margin-bottom: 1.25rem;
  }
}

.header {
  width: 100%;
  padding-left: 2.5rem;
}
.header__inner {
  display: flex;
  align-items: center;
}
@media (max-width: 870px) {
  .header__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}
@media (max-width: 400px) {
  .header__inner {
    margin-bottom: 1.875rem;
  }
}
.header__search {
  background-color: #FFFFFF;
  padding: 1rem 0.875rem 1rem 3.5rem;
  border-radius: 1.25rem;
  background-image: url("./../images/header/header-search.jpg");
  background-repeat: no-repeat;
  background-position: left 1.25rem center;
  background-size: 1.25rem 1.25rem;
  width: 288px;
  cursor: pointer;
}
.header__search::placeholder {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", "sans-serif";
  color: #B5B5BD;
  line-height: 24px;
}
@media (max-width: 1020px) {
  .header__search {
    width: 12.5rem;
    margin-left: -2.5rem;
  }
}
@media (max-width: 390px) {
  .header__search {
    width: 11.25rem;
  }
}
.header__buttons {
  margin-left: auto;
  background-color: #FFFFFF;
  border-radius: 1rem;
  padding: 0.375rem;
  margin-right: 1.75rem;
}
@media (max-width: 870px) {
  .header__buttons {
    margin-right: -1.25rem;
  }
}
.header__button {
  background: transparent;
  padding: 3px;
}
.header__button img {
  width: 35px;
  height: 35px;
  border-radius: 0.9375rem;
}
.header__button-light.border-active {
  border: 0.0625rem solid #3162FF;
  border-radius: 0.9375rem;
}
.header__button-dark.border-line {
  border: 0.0625rem solid #3162FF;
  border-radius: 0.9375rem;
}
.header__message {
  margin-right: 1.75rem;
  cursor: pointer;
}
.header__useer {
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
}
@media (max-width: 870px) {
  .header__useer {
    justify-self: flex-end;
  }
}
.header__useer-name {
  font-family: "Poppins", "sans-serif";
  font-weight: 600;
  font-size: 1rem;
  color: #272B36;
  margin-bottom: 0.3125rem;
}
.header__useer-name.name-color {
  color: #FFFFFF;
}
.header__useer-scill {
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  font-size: 12px;
  color: #B5B5BD;
}
.header__useer-scill span {
  color: rgb(230, 208, 12);
}

.discover {
  background-image: url("./../images/discover/discover-bg.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  padding: 48px 70px 60px 60px;
  border-radius: 1.5rem;
  margin-left: 1.125rem;
  position: relative;
}
@media (max-width: 1320px) {
  .discover {
    background-position: center;
  }
}
@media (max-width: 1000px) {
  .discover {
    background-size: cover;
  }
}
@media (max-width: 620px) {
  .discover {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.discover::before {
  content: url("./../images/discover/vector-top.png");
  position: absolute;
  top: 0;
  left: 0;
}
.discover::after {
  content: url("./../images/discover/vector-bottom.png");
  position: absolute;
  bottom: 0;
  left: 30px;
}
@media (max-width: 1320px) {
  .discover__inner {
    display: flex;
    justify-content: center;
  }
}
.discover__content {
  position: relative;
  z-index: 1;
}
@media (max-width: 1320px) {
  .discover__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.discover__title {
  width: 390px;
  font-weight: 700;
  font-size: 28px;
  line-height: 142.857143%;
  margin-bottom: 2.5rem;
  font-family: "Poppins", "sans-serif";
  color: #070721;
}
.discover__title.color-title {
  color: #3162FF;
}
@media (max-width: 1320px) {
  .discover__title {
    text-align: center;
  }
}
@media (max-width: 620px) {
  .discover__title {
    width: 100%;
  }
}
.discover__buttons {
  display: flex;
  column-gap: 0.75rem;
}
@media (max-width: 620px) {
  .discover__buttons {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.discover__buttton {
  border-radius: 1rem;
  font-family: "Poppins", "sans-serif";
  font-weight: 600;
  font-size: 0.875rem;
}
.discover__buttton:first-child {
  background-color: #3162FF;
  color: #FFFFFF;
  padding: 0.75rem 2.125rem;
  transition: background-color 0.3s ease;
}
.discover__buttton:first-child:hover {
  background-color: rgb(25, 25, 179);
}
.discover__buttton:last-child {
  background: transparent;
  border: 2px solid #3162FF;
  color: #3162FF;
  padding: 0.75rem 1.375rem;
  transition: background-color 0.3s ease;
}
.discover__buttton:last-child:hover {
  background-color: rgb(25, 25, 179);
  color: #FFFFFF;
}
.discover__image {
  width: 232px;
  height: 310px;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  right: 70px;
  top: -30px;
  z-index: 1;
}
@media (max-width: 1320px) {
  .discover__image {
    display: none;
  }
}

.balance {
  background-color: #FFFFFF;
  border-radius: 1.25rem;
  padding: 2rem 1.25rem 1.5rem;
  margin-top: 0.9375rem;
}
@media (max-width: 1320px) {
  .balance {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 630px) {
  .balance {
    background-color: transparent;
  }
}
.balance__title {
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  font-size: 1rem;
  color: #8E8C99;
  margin-bottom: 0.625rem;
  text-align: center;
}
.balance__price {
  font-family: "Poppins", "sans-serif";
  font-weight: 700;
  font-size: 1.75rem;
  color: #070721;
  margin-bottom: 1.125rem;
  text-align: center;
}
@media (max-width: 630px) {
  .balance__price {
    background-color: rgba(255, 255, 255, 0.295);
    padding: 0.9375rem;
    border-radius: 0.625rem;
  }
}
.balance__grafic {
  position: relative;
}
@media (max-width: 1320px) {
  .balance__grafic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.balance__icon {
  position: absolute;
  top: 1.2rem;
  left: 9rem;
}
@media (max-width: 400px) {
  .balance__icon {
    top: 1.25rem;
    left: 6.25rem;
  }
}
@media (max-width: 400px) {
  .balance__vector {
    width: 250px;
  }
}
.balance__bg {
  margin-top: -6.5rem;
}
@media (max-width: 400px) {
  .balance__bg {
    width: 250px;
    margin-top: -5.3125rem;
  }
}
.balance__list {
  display: flex;
  align-items: center;
  column-gap: 1.5625rem;
}
@media (max-width: 400px) {
  .balance__list {
    column-gap: 0.9375rem;
  }
}
.balance__item {
  color: #8E8C99;
  font-weight: 400;
  font-size: 0.75rem;
  font-family: "Poppins", "sans-serif";
}

.trending {
  margin-top: 2.25rem;
  padding: 0 2.5rem;
}
@media (max-width: 1320px) {
  .trending__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.trending__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}
@media (max-width: 1320px) {
  .trending__top {
    min-width: 80%;
  }
}
@media (max-width: 600px) {
  .trending__top {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.trending__title {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", "sans-serif";
  color: #070721;
}
.trending__link {
  font-family: "Poppins", "sans-serif";
  color: #3162FF;
  font-weight: 400;
  font-size: 14px;
  margin-right: 1.875rem;
}
.trending__list {
  display: flex;
  align-items: center;
  column-gap: 0.9375rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 800px) {
  .trending__list {
    flex-wrap: wrap;
    row-gap: 0.9375rem;
    justify-content: center;
  }
}
.trending__list-item {
  background-color: #FFFFFF;
  display: flex;
  padding: 0.75rem 1.25rem;
  border-radius: 1.8125rem;
}
.trending__list-link {
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
}
.trending__list-image {
  width: 1.25rem;
  height: 1.25rem;
}
.trending__list-title {
  color: #070721;
  font-family: "Poppins", "sans-serif";
  font-size: 0.875rem;
  font-weight: 600;
}
.trending__items {
  display: flex;
  column-gap: 24px;
}
@media (max-width: 800px) {
  .trending__items {
    flex-wrap: wrap;
    row-gap: 0.9375rem;
    justify-content: center;
  }
}
.trending__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 230px;
}
.trending__item-content {
  position: relative;
  z-index: 1;
}
.trending__item-img {
  width: 14.75rem;
  height: 10.375rem;
  max-width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.trending__item-icon1 {
  position: absolute;
  top: 0.75rem;
  right: 0.9375rem;
  background-color: rgba(7, 7, 33, 0.3);
  padding: 8px;
  border-radius: 50%;
}
.trending__item-blok-1 {
  position: absolute;
  top: 7.5rem;
  right: 0.9375rem;
  background-color: #FFFFFF;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  column-gap: 0.375rem;
  padding: 0.4375rem 0.75rem;
  width: 77px;
  border: 1px solid #3162FF;
}
.trending__item-icon2 {
  width: 0.75rem;
  height: 1.125rem;
}
.trending__item-number {
  font-weight: 600;
  font-family: "Poppins", "sans-serif";
  font-size: 0.75rem;
  color: #070721;
}
.trending__item-number span {
  color: #B5B5BD;
}
.trending__item-details {
  display: flex;
  width: 230px;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 5.625rem 1.25rem 1.25rem 1.25rem;
  transform: translateY(-60px);
}
.trending__item-title {
  font-weight: 700;
  font-family: "Poppins", "sans-serif";
  font-size: 1rem;
  color: #070721;
  margin-bottom: 8px;
}
.trending__item-subtitle {
  font-weight: 400;
  font-family: "Poppins", "sans-serif";
  font-size: 0.875rem;
  color: #8E8C99;
}
.trending__item-user {
  width: 28px;
  height: 28px;
  object-fit: cover;
}

.creators {
  margin-top: 1.875rem;
  padding: 0 2.5rem;
}
@media (max-width: 1320px) {
  .creators {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 1320px) {
  .creators__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.creators__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}
@media (max-width: 1320px) {
  .creators__top {
    min-width: 80%;
  }
}
@media (max-width: 400px) {
  .creators__top {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.creators__title {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", "sans-serif";
  color: #070721;
}
.creators__link {
  font-family: "Poppins", "sans-serif";
  color: #3162FF;
  font-weight: 400;
  font-size: 14px;
  margin-right: 1.875rem;
}
.creators__items {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
@media (max-width: 1320px) {
  .creators__items {
    flex-direction: column;
    row-gap: 1.25rem;
    width: 100%;
  }
}
.creators__item {
  background-color: #FFFFFF;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  border-radius: 1.25rem;
  width: 25.125rem;
}
@media (max-width: 1320px) {
  .creators__item {
    min-width: 70%;
  }
}
@media (max-width: 480px) {
  .creators__item {
    flex-direction: column;
    row-gap: 1.25rem;
    width: 100%;
  }
}
.creators__item-image {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  margin-right: 0.75rem;
}
.creators__item-details {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
.creators__item-name {
  font-family: "Poppins", "sans-serif";
  font-weight: 700;
  font-size: 1rem;
  color: #070721;
}
.creators__item-email {
  color: #8E8C99;
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  font-size: 0.875rem;
}
.creators__ite-button {
  margin-left: auto;
  background-color: #3162FF;
  color: #FFFFFF;
  padding: 0.75rem 1.6875rem;
  border-radius: 1rem;
  display: flex;
  column-gap: 0.125rem;
  align-items: center;
}
.creators__ite-button img {
  width: 0.9375rem;
  height: 1rem;
}
.creators__ite-button span {
  font-family: "Poppins", "sans-serif";
  font-weight: 600;
  font-size: 0.875rem;
}
@media (max-width: 400px) {
  .creators__ite-button {
    margin: 0 auto;
  }
}

.activity {
  margin-top: 2.25rem;
  background-color: #FFFFFF;
  border-radius: 1.25rem;
  padding: 1.5rem;
  overflow-x: hidden;
}
.activity__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}
.activity__title {
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "Poppins", "sans-serif";
  color: #070721;
}
.activity__link {
  font-family: "Poppins", "sans-serif";
  color: #3162FF;
  font-weight: 400;
  font-size: 0.875rem;
}
.activity__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
}
.activity__item {
  display: flex;
  align-items: center;
}
.activity__item-image {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  margin-right: 0.75rem;
}
.activity__item-details {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
.activity__item-name {
  font-family: "Poppins", "sans-serif";
  font-weight: 600;
  font-size: 0.875rem;
  color: #070721;
}
.activity__item-email {
  color: #8E8C99;
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  font-size: 0.75rem;
}
.activity__item-email span {
  color: #3162FF;
}
.activity__time {
  margin-left: auto;
  display: flex;
  column-gap: 0.3125rem;
  margin-bottom: 1.25rem;
}
.activity__time span {
  color: #8E8C99;
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  font-size: 0.75rem;
}

.social {
  background-image: url("./../images/main/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 5.5625rem 9.0625rem 4rem;
  width: 1600px;
  height: 1200px;
}
@media (max-width: 1320px) {
  .social {
    height: 2000px;
    padding-right: 3.125rem;
    padding-left: 3.125rem;
  }
}
@media (max-width: 1020px) {
  .social {
    padding-right: 3.125rem;
    padding-left: 3.125rem;
  }
}
@media (max-width: 1020px) {
  .social {
    height: 2400px;
  }
}
@media (max-width: 400px) {
  .social {
    padding-top: 20px;
  }
}

.logo {
  margin-bottom: 3rem;
  margin-left: 6.25rem;
}
@media (max-width: 1020px) {
  .logo {
    margin-left: 1.875rem;
  }
}/*# sourceMappingURL=style.css.map */