$white: #FFFFFF;
$iconColor: #070721;
$blue: #3162FF;
$poppinsFonts: 'Poppins', 'sans-serif';

.activity {
    margin-top: 2.25rem;
    background-color: $white;
    border-radius: 1.25rem;
    padding: 1.5rem;
    overflow-x: hidden;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.25rem;
    }
    &__title {
        font-size: 1.125rem;
        font-weight: 600;
        font-family: $poppinsFonts;
        color: $iconColor;
    }
    &__link {
        font-family: $poppinsFonts;
        color: $blue;
        font-weight: 400;
        font-size: 0.875rem;
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 1.75rem;
    }
    &__item {
        display: flex;
        align-items: center;
    }
    &__item-image {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        margin-right: 0.75rem;
    }
    &__item-details {
        display: flex;
        flex-direction: column;
        row-gap: 0.625rem;
    }
    &__item-name {
        font-family: $poppinsFonts;
        font-weight: 600;
        font-size: 0.875rem;
        color: $iconColor;
    }
    &__item-email {
        color: $grayDark;
        font-family: $poppinsFonts;
        font-weight: 400;
        font-size: 0.75rem;
        span{
            color: $blue;
        }
    }
    &__time {
        margin-left: auto;
        display: flex;
        column-gap: 0.3125rem;
        margin-bottom: 1.25rem;
        span{
            color: $grayDark;
            font-family: $poppinsFonts;
            font-weight: 400;
            font-size: 0.75rem;
        }
    }
}
