$white: #FFFFFF;
$blue: #3162FF;
$iconColor: #070721;
$gray: #B5B5BD;
$poppinsFonts: 'Poppins', 'sans-serif';

.aside {
    background-color: $white;
    padding: 1.8125rem;
    border-radius: 1.25rem;
    width: 5.25rem;
    box-shadow: 5px 6px 19px 0 #3E48760A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 1320px){
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        width: 100%;
        height: 200px;
        background-color: $white;
        z-index: 2;
        flex-direction: row;
        column-gap: 1.25rem;
        border-radius: 0;
        padding-top: 5rem;
        transition: .3s ease;
        @media (max-width: 800px){
            flex-direction: column;
            height: 100%;
            align-items: center;
        }
        &.show{
            top: 0;
        }
    }
    &__logo {
        margin-bottom: 120px;
        @media (max-width: 1320px){
            width: 3.125rem;
            height: 3.125rem;
        }
        @media (max-width: 800px){
            margin-bottom: 3.125rem;
            width: 60px;
            height: 60px;
        }
    }
    &__nav {
        margin-bottom: 25.5rem;
        @media (max-width: 800px){
           margin-bottom: 1.875rem;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.5rem;
        @media (max-width: 1320px){
            flex-direction: row;
            column-gap: 1.25rem;
        }
        @media (max-width: 800px){
            flex-direction: column;
            overflow-y: hidden;
        }
    }
    &__item {
      
    }
    &__link {
        display: block;
        width: 24px;
        height: 24px;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        -webkit-mask-size: contain;
        mask-position: center;
        -webkit-mask-position: center;
        background-color: $iconColor;
        position: relative;
        &:hover{
            background-color: $blue;
        }
        @media (max-width: 1320px){
            width: 3.125rem;
            height: 3.125rem;
        }
        @media (max-width: 800px){
            width: 40px;
            height: 40px;
        }
    }
    &__link-home{
        background-color: $blue;
        @media (max-width: 800px){
            width: 50px;
            height: 50px;
        }
    }
    &__link-gray{
        background-color: $gray;
    }
    &__icon {
    }
    &__settings {
        @media (max-width: 1320px){
            width: 3.125rem;
            height: 3.125rem;
        }
        @media (max-width: 800px){
           width: 3.75rem;
           height: 3.75rem;
           margin-bottom: 1.25rem;
        }
    }
}
