$white: #FFFFFF;
$blue: #3162FF;
$iconColor: #070721;
$grayDark: #8E8C99;
$fontWeight: 400;
$poppinsFonts: 'Poppins', 'sans-serif';


.creators {
    margin-top: 2.25rem;
    padding: 0 2.5rem;
    &__inner {
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.25rem;
    }
    &__title {
        font-size: 20px;
        font-weight: 700;
        font-family: $poppinsFonts;
        color: $iconColor;
    }
    &__link {
        font-family: $poppinsFonts;
        color: $blue;
        font-weight: 400;
        font-size: 14px;
        margin-right: 1.875rem;
    }
    &__items {
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
    }
    &__item {
        background-color: $white;
        padding: 1.25rem;
        display: flex;
        align-items: center;
        border-radius: 1.25rem;
        width: 25.125rem;
    }
    &__item-image {
        width: 3.5rem;
        height: 3.5rem;
        object-fit: cover;
        margin-right: 0.75rem;

    }
    &__item-details {
        display: flex;
        flex-direction: column;
        row-gap: 0.625rem;
    }
    &__item-name {
        font-family: $poppinsFonts;
        font-weight: 700;
        font-size: 1rem;
        color: $iconColor;
    }
    &__item-email {
        color: $grayDark;
        font-family: $poppinsFonts;
        font-weight: 400;
        font-size: 0.875rem;
    }
    &__ite-button {
        margin-left: auto;
        background-color: $blue;
        color: $white;
        padding: 0.75rem 1.6875rem;
        border-radius: 1rem;
        display: flex;
        column-gap: 0.125rem;
        align-items: center;
        img{
            width: 0.9375rem;
            height: 1rem;
        }
        span{
            font-family: $poppinsFonts;
            font-weight: 600;
            font-size: 0.875rem;
        }
    }
}
