$poppinsFonts: 'Poppins', 'sans-serif';
$iconColor: #070721;
$blue: #3162FF;
$white: #FFFFFF;

.discover {
    background-image: url('./../images/discover/discover-bg.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding: 48px 70px 60px 60px;
    border-radius: 1.5rem;
    margin-left: 1.125rem;
    position: relative;
    @media (max-width: 1320px){
        background-position: center;
   }
    &::before{
        content: url('./../images/discover/vector-top.png');
        position: absolute;
        top: 0;
        left: 0;
    }
    &::after{
        content: url('./../images/discover/vector-bottom.png');
        position: absolute;
        bottom: 0;
        left: 30px;
    }
    &__inner {
        @media (max-width: 1320px){
            display: flex;
            justify-content: center;
        }
    }
    &__content {
        position: relative;
        z-index: 1;
        @media (max-width: 1320px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
    }
    &__title {
        width: 390px;
        font-weight: 700;
        font-size: 28px;
        line-height: 142.857143%;
        margin-bottom: 2.5rem;
        font-family: $poppinsFonts;
        color: $iconColor;
        &.color-title{
            color: $blue;
        }
        @media (max-width: 1320px){
            text-align: center;
        }
    }
    &__buttons {
        display: flex;
        column-gap: 0.75rem;
    }
    &__buttton {
        border-radius: 1rem;
        font-family: $poppinsFonts;
        font-weight: 600;
        font-size: 0.875rem;
        &:first-child{
            background-color: $blue;
            color: $white;
            padding: 0.75rem 2.125rem;
            transition: background-color .3s ease;
            &:hover {
                background-color: rgb(25, 25, 179);
            }
        }
        &:last-child{
            background: transparent;
            border: 2px solid $blue;
            color: $blue;
            padding: 0.75rem 1.375rem;
            transition: background-color .3s ease;
            &:hover {
                background-color: rgb(25, 25, 179);
                color: $white;
            }
        }
    }
    &__image {
        width: 232px;
        height: 310px;
        max-width: 100%;
        object-fit: cover;
        position: absolute;
        right: 70px;
        top: -30px;
        z-index: 1;
        @media (max-width: 1320px){
            display: none;
       }
    }
}
