.social {
    background-image: url('./../images/main/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 5.5625rem 9.0625rem 4rem;
    width: 1600px;
    height: 1200px;
    @media (max-width: 1320px){
       height: 2000px;
       padding-right: 3.125rem;
       padding-left: 3.125rem;
    }
    @media (max-width: 1020px){
         padding-right: 3.125rem;
         padding-left: 3.125rem;
    } 
    @media (max-width: 1020px){
        height: 2400px;
    } 
    @media (max-width: 400px){
       padding-top: 20px;
   } 
}
.logo {
    margin-bottom: 3rem;
    margin-left: 6.25rem;
    @media (max-width: 1020px){
        margin-left: 1.875rem;
    }
}
