.social {
    background-image: url('./../images/main/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 5.5625rem 9.0625rem 4rem;
    width: 1600px;
    height: 1200px;
}
.logo {
    margin-bottom: 3rem;
    margin-left: 100px;
}
