$white: #FFFFFF;
$blue: #3162FF;
$poppinsFonts: 'Poppins', 'sans-serif';


html.unscroll{
      overflow: hidden;
}

.wrapper{
   display: grid;
   grid-template-columns: 1fr 3fr 2fr;
   grid-template-rows: 70px auto auto;
   grid-template-areas:
       "aside header header"
       "aside main rightbar"
       "aside main rightbar"
   ;
   padding: 2.5rem 2.5rem 2.5rem 1.25rem;
   background-image: url('./../../images/container/container-bg.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
   @media (max-width: 1320px){
        display: flex;
        flex-direction: column;
        row-gap: 3.125rem;
        width: 100%;
   }  
   &.dark-theme{
       background: black;
   }
   &__button{
        display: none;
        position: absolute;
        top: -6.875rem;
        right: 1.25rem;
        z-index: 3;
        background-color: $blue;
        padding: 15px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color .3s ease;
        &:hover{
            background-color: rgb(25, 25, 179);
        }
        @media (max-width: 1320px){
            display: block;
        }
   }
}
.header{
    grid-area: header;
}
.aside{
    grid-area: aside;
}
.main{
    grid-area: main;
}
.rightbar{
    grid-area: rightbar;
}

.container{
    max-width: 1340px;
    padding: 0 15px;
    margin: 0 auto;
    // background-image: url('./../../images/container/container-bg.png');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // &.dark-theme{
    //     background: black;
    // }
}


